{% extends 'admin/forum/forum_layout.html.twig' %}
{% block title %} {{ 'Dates du forum' }} {% endblock %}
{% block forum_title %} {{ '| Dates'|upper }}{% endblock %}
{% block forum_content %}
    <div class="col-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Dates détail'|upper }}</h4>
                {{ include('admin/forum/schecule/_delete_form.html.twig') }}
            </header>
            <div class="card-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ 'Nommage de la date' }}</th>
                        <td>{{ schecule.dateName }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-label btn-dark" href="{{ path('schecule_index') }}">
                    <label><i class="ti-arrow-left"></i></label>
                    {{ 'Retour à la liste'}}
                </a>
                <a class="btn btn-label btn-danger" href="{{ path('schecule_edit', {'id': schecule.id}) }}">
                    <label><i class="ti-pencil-alt"></i></label>
                    {{ 'Modifier' }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}