{% use "bootstrap_3_layout.html.twig" %}

{# Widgets #}

{# Labels #}

{# Rows #}

{% block form_row -%}
    <div class="form-group {% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback {% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}

{% block checkbox_row -%}
    <div class="form-group{% if not valid %} has-error has-feedback {% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock checkbox_row %}

{% block radio_row -%}
    <div class="form-group{% if not valid %} has-error has-feedback {% endif %}">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock radio_row %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <div class="form-control-feedback">
                <i class="icon-cancel-circle2"></i>
            </div>
            <span class="help-block">{{ error.message }}</span>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}