{% extends 'base.html.twig' %}

{% block title %}Media index{% endblock %}

{% block body %}
    <h1>Media index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image_url</th>
                <th>Status</th>
                <th>Actived</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medium in media %}
            <tr>
                <td>{{ medium.id }}</td>
                <td>{{ medium.imageUrl }}</td>
                <td>{{ medium.status ? 'Yes' : 'No' }}</td>
                <td>{{ medium.actived ? 'Yes' : 'No' }}</td>
                <td>{{ medium.created ? medium.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('media_show', {'id': medium.id}) }}">show</a>
                    <a href="{{ path('media_edit', {'id': medium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('media_new') }}">Create new</a>
{% endblock %}