{% extends 'admin/entrepreneur/entrepreneur_layout.html.twig' %}
{% block title %} {{ 'Domaine activité' }} {% endblock %}
{% block entrepreneur_title %} {{ '| Domaine activité'|upper }}{% endblock %}
{% block entrepreneur_content %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Domaine activité'|upper }}</h4>
                <a class="btn btn-label btn-info" href="{{ path('domain_new') }}">
                    <label><i class="ti-plus"></i></label>
                    {{ 'Ajouter un nouveau'}}
                </a>
            </header>
            <div class="card-body">
                <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                    <thead>
                    <tr>
                        <th>{{ 'Réference' }}</th>
                        <th>{{ 'Nom' }}</th>
                        <th>actions</th>
                        <th>supprimer</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ 'Réference' }}</th>
                        <th>{{ 'Nom' }}</th>
                        <th>actions</th>
                        <th>supprimer</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for domain in domains %}
                        <tr>
                            <td>{{ domain.id }}</td>
                            <td>{{ domain.name }}</td>
                            <td>
                                <a class="btn btn-label btn-danger-outline"
                                   href="{{ path('domain_edit', {'id': domain.id}) }}">
                                    <label for=""><i class="ti-close"></i></label> {{ 'Modifier' }}
                                </a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('domain_delete', {'id': domain.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ domain.id) }}">
                                    <button class="btn btn-label btn-danger">
                                        <label for=""><i class="ti-trash"></i></label> {{ 'Supprimer' }}
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="align-content-center" colspan="4">{{ 'Aucun resultat trouvé' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}