{% extends 'security/security_layout.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <!-- section image -->
  <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url({{ asset('build/front/static/security/bg_signin_1.jpg') }})" data-overlay="7">
    <div class="row h-100 pl-50">
      <div class="col-md-10 col-lg-8 align-self-end">
        <img src="{{ asset('build/front/static/logo.png') }}" alt="la finance s'engage">
        <br><br><br>
        <br><br>
      </div>
    </div>
  </div>
  <!-- section Login -->
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="px-80 py-30">
        <h3 style="text-align: center !important;">{{ 'Connectez-vous à votre compte FSE' }}</h3>
        <br>
        {% if error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
              {{ error.messageKey|trans(error.messageData, 'security') }}
          </div>
        {% endif %}
          <form class="card form-type-material" action="{{ path('signin_page') }}" method="post">
            <div class="form-group">
                 <label for="username">{{ 'Adresse e-mail' }}</label>
                  <input type="text" class="form-control" id="username" name="_username"
                         value="{{ last_username }}"
                  />
            </div>
            <div class="form-group">
                  <label for="password">{{ 'Saisissez votre mot de passe' }}</label>
                  <input type="password" class="form-control" id="password" name="_password"/>
            </div>
            <!--<div class="form-group flexbox">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Remember me</span>
              </label>
              <a class="text-muted hover-primary fs-13" href="#">Forgot password?</a>
            </div> -->
            <div class="form-group">
              <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'Se connecter' }}</button>
            </div>
          </form>
      <hr class="w-30px">
      <p class="text-center text-muted fs-13 mt-10">
          {{ 'Vous n\'avez pas encore de compte en tant ' }} <strong>{{'que PME ?'}}</strong><br/>
        <a class="text-primary fw-500" href="{{ path('register') }}">{{ 'Créer un compte'|capitalize }}</a>
      </p>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
  <script>
      $(".bg-img").backstretch([
          "{{ asset('build/front/static/security/bg_signin_1.jpg') }}",
          "{{ asset('build/front/static/security/bg_signin_2.jpg') }}",
          "{{ asset('build/front/static/security/bg_signin_3.jpg') }}"
      ], {duration: 4000, fade:750});
  </script>
{% endblock %}
