{% extends 'security.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <!-- section image -->
  <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block bg-img" style="background-image: url(../assets/img/gallery/11.jpg)" data-overlay="5">
    <div class="row h-100 pl-50">
      <div class="col-md-10 col-lg-8 align-self-end">
        <img src="{{ asset('build/front/static/logo.png') }}" alt="la finance s'engage">
        <br><br><br>
        <h4 class="text-white">
          {{ 'une initiative privée pour le financement des pme'|upper }}
        </h4>
        <p class="text-white">
          {{ 'Conçu par ESPartners et porté par le Patronat ivoirien et plus particulièrement avec la création de la Commission de Financement du Secteur Privé de la CGECI en partenariat avec la Banque Africaine de Développement dans le but de mobiliser le secteur privé pour offrir des solutions concrètes au financement de l’économie ivoirienne'}}
        </p>
        <br><br>
      </div>
    </div>
  </div>
  <!-- section Login -->
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="px-40 py-30">
      <div><img src="{{ asset('build/back/static/logo-web.png') }}" alt="La finance s'engage"></div>
      <h5>{{ 'Créer votre compte FSE' }}</h5><br>

      {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'card'} } ) }}
        <div class="row">
            <div class="form-group col-md-6">
              <label for="lastname">{{ 'Entrez votre Nom' }}</label>
                {{ form_row(form.lastname, {'attr': {'class' :"form-control", 'placeholder' : 'ex: Konan'}}) }}
            </div>
            <div class="form-group col-md-6">
              <label for="firstname">{{ 'Entrez votre Prénom' }}</label>
                {{ form_row(form.firstname, {'attr': {'class' :"form-control", 'placeholder' : 'ex: Peter'}}) }}
            </div>
        </div>
        <div class="form-group">
          <label for="firstname">{{ 'Entez une adresse Email' }}</label>
            {{ form_row(form.email, {'attr': {'class' : "form-control", 'placeholder' : 'ex: test@example.com'}}) }}
        </div>
        <div class="form-group">
            <label for="phone.country">{{ 'Choix de votre Pays' }}</label>
            {{ form_row(form.phone.country, {'label': false, 'attr': {'class' :"form-control"}}) }}
        </div>
        <div class="form-group">
            <label for="phone.number">{{ 'Entrez votre Téléphone' }}</label>
            {{ form_row(form.phone.number, {'label': false, 'attr': {'class' :"form-control", 'placeholder' : '07000007'}} ) }}
        </div>
        <div class="form-group">
          <label for="password">{{ ' Mot de passe' }}</label>
            {{ form_row(form.plainPassword, {'attr': {'class' :"form-control", 'placeholder' : 'Mot de passe'}}) }}
        </div>

        <!--<div class="form-group flexbox">
          <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Remember me</span>
          </label>

          <a class="text-muted hover-primary fs-13" href="#">Forgot password?</a>
        </div> -->

        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'Créer mon compte' }}</button>
        </div>
      {{ form_end(form) }}
      <p class="text-center text-muted fs-13 mt-10">
          {{ 'Vous avez un compte ?' }} <a class="text-primary fw-500" href="{{ path('signin_page') }}">{{ 'Se connecter'|capitalize }}</a>
      </p>
    </div>
  </div>

{% endblock %}
