{% extends 'security/security_layout.html.twig' %}
{% block title %} {% endblock %}
{% block bodyClass %}
    min-h-fullscreen bg-img center-vh p-20
{% endblock %}
{% block styleClass %}
    background-image: url({{ asset('build/front/static/security/bg_signup.jpg') }})" data-overlay="7"
{% endblock %}
{% block body %}
  <!-- section Login -->
  <div class="card card-round card-shadowed px-50 py-30 w-600px mb-0">
    <h3 style="text-align: center !important;">
        <img src="{{ asset('build/layout/assets/base/img/layout/logos/logo-mobile.png') }}" alt="" class="img-responsive" width="5%" height="auto">
        {{ 'Créer votre compte FSE' }}
    </h3>
    <div class="px-40 py-30">
      {{ form_start(form, {'method': 'post', 'action': path('register'), 'attr': {'class': 'card form-type-material', novalidate: 'novalidate'} } ) }}
        {% set class = 'form-control' %}
        {% if form.phone.vars.errors|length > 0 %}
            {% set class = 'form-control is-invalid' %}
        {% endif %}
        <div class="form-group">
            <label for="lastname">{{ 'Nom de famille' }}</label>
            {{ form_widget(form.lastname, {'attr': {'class' :class}}) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div class="form-group">
            <label for="firstname">{{ 'Prénom' }}</label>
            {{ form_widget(form.firstname, {'attr': {'class' :class}}) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div class="form-group">
            <label for="email">{{ 'Adresse e-mail' }}</label>
            {{ form_widget(form.email, {'attr': {'class' : class}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            <label for="password">{{ 'Mot de passe' }}</label>
            {{ form_widget(form.plainPassword, {'attr': {'class' :class}}) }}
            {{ form_errors(form.plainPassword) }}
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_widget(form.phone.country, {'label': false, 'attr': {'class' :class}}) }}
            </div>
            <div class="form-group col-md-6">
                <label for="phone.number">{{ 'Numéro de téléphone' }}</label>
                {{ form_widget(form.phone.number, {'label': false, 'attr': {'class' :class}} ) }}
                {{ form_errors(form.phone) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                {{ form_widget(form.gener, {'attr': {'class' :class}}) }}
                {{ form_errors(form.gener) }}
            </div>
            <div class="form-group col-md-4">
                <label for="age">{{ 'Donnez votre age' }}</label>
                {{ form_widget(form.age, {'attr': {'class' :class}}) }}
                {{ form_errors(form.age) }}
            </div>
        </div>
        <div class="form-group">
          <button class="btn btn-bold btn-block btn-primary" type="submit">{{ 'Créer mon compte' }}</button>
        </div>
      {{ form_end(form) }}
      <p class="text-center text-muted fs-13">
          {{ 'Vous avez déjà un compte FSE ?' }} <a class="text-primary fw-500" href="{{ path('signin_page') }}">{{ 'Se connecter'|capitalize }}</a>
      </p>
    </div>
  </div>

{% endblock %}
