{% extends 'admin/forum/forum_layout.html.twig' %}
{% block title %} {{ 'Articles' }} {% endblock %}
{% block forum_title %} {{ '| Articles'|upper }}{% endblock %}
{% block forum_content %}
        <div class="col-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'Creér un nouveau article'|upper }}</h4>
                    <a class="btn btn-square btn-outline-danger" href="{{ path('post_index') }}">
                        <label><i class="ti-na"></i></label>
                    </a>
                </header>
                <div class="card-body center-vh">
                    {{ include('admin/forum/post/_form.html.twig') }}
                </div>
            </div>
        </div>
{% endblock %}
