<div class="c-center">
    <div class="c-center">
        <img src="{{ asset('build/web/static/banner_lancement.jpg') }}" alt=""
             srcset="{{ asset('build/web/static/banner_lancement.jpg') }} 1280w,
{{ asset('build/web/static/banner_lancement.jpg') }} 1024w,
{{ asset('build/web/static/banner_lancement.jpg') }} 640w,
{{ asset('build/web/static/banner_lancement.jpg') }} 320w"
             sizes="(min-width: 1180px) 1180px, 100vw"
        >
    </div>
</div>