<div class="c-content-counter-1">
    <div class="c-content-title-2">
        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
            <span class="c-content-label">{{ 'les chiffres clés 2019'|upper }}</span>
        </h3>
        <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
    </div>
    <div class="row c-margin-t-60">
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">500</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Acteurs PME' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'initiés à l’éducation financière' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">1000</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Acteurs de PME ' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'touchés à travers les ateliers thématiques à Abidjan enregistrés' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">2</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Villes de l’intérieur' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'à toucher à travers des formation/encadrem ent sur place' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">3</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Prix décernés' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'aux Awards du Financement 2019' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">45</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">
                {{ 'Institutions engagées' }}
            </h4>
        </div>
    </div>
</div>
