<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url({{ asset('build/web/static/initiative1_new.jpg') }});">
    <div class="c-content-feature-13">
        <div class="row c-reset">
            <div class="col-md-6 col-md-offset-6 c-bg-white">
                <div class="c-feature-13-container">
                    <div class="row">
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'INNOVATION'|upper }}</h4>
                                <p class="c-font-dark c-font-15">{{ 'Être partie prenante d’un projet novateur qui rompt avec les habitudes à travers des actes concrets, suivis, évalués et récompensés. Être membre d’une plateforme qui rassemble pour la première fois TOUS les acteurs impliqués dans le développement économique: l’écosystème financier mais aussi les PME.'|capitalize }}</p>
                            </div>
                        </div>
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'AVENIR'|upper }}</h4>
                                <p class="c-font-dark c-font-15">{{ 'Apporter sa pierre à la construction d’une économie prospère. Multiplier les opportunités d’affaires tant en direction des professionnels que des clients finaux.'|capitalize }}</p>
                            </div>
                        </div>
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'UNICITE'|upper }}</h4>
                                <p class="c-font-dark c-font-15">{{ 'Plus que quelques actions ponctuelles, s’inscrire dans un processus évolutif qui produit des fruits reconnus et récompensés.
Écrire de nouvelles pages qui obligent à l’amélioration continue, en sortant des sentiers battus.
'|capitalize }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-content-box c-size-md c-no-padding c-bg-img-center" style="background-image: url({{ asset('build/web/static/initiative2_new.jpg') }});">
    <div class="c-content-feature-13">
        <div class="row c-reset">
            <div class="col-md-6 c-bg-dark">
                <div class="c-feature-13-container">
                    <div class="row">
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'IMPLICATION'|upper }}</h4>
                                <p class="c-font-white c-font-15">
                                    {{ 'Intégrer un réseau inédit de contacts institutionnels, financiers et entrepreneurials qui impacteront positivement votre business. Capitaliser sur des opportunités de développement de business avec à la fois le secteur privé et le secteur public.'|capitalize }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-t-10">
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'ENGAGEMENT'|upper }}</h4>
                                <p class="c-font-white c-font-15">
                                    {{ 'Participer à un évènement qui permet de valoriser votre engagement en faveur du financement du secteur privé. Vous associer à un évènement qui vous donne accès à des études exclusives et récentes pour poser des actes concrets et réalistes pour le développement du secteur privé dans notre pays.'|capitalize }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row c-margin-t-10">
                        <div class="c-feature-13-tile">
                            <i class="icon-energy c-theme-font c-font-24"></i>
                            <div class="c-feature-13-content">
                                <h4 class="c-font-uppercase c-theme-font c-font-bold">{{ 'Visibilité'|upper }}</h4>
                                <p class="c-font-white c-font-15">
                                    {{ 'Vous associer à la réalisation d’un événement fédérateur auprès du grand public comme des professionnels (secteur privé et public) en particulier les PME. Accéder à des médias à très large diffusion qui porteront vos messages.'|capitalize }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

