<div class="col-md-6">
    <div class="c-content-blog-post-card-1 c-option-2 c-bordered box-shadow c-shadow">
        <div class="c-media c-content-overlay">
            <a href="{{ organizer.website }}" target="_blank">
                <img class="c-overlay-object img-responsive custom-center"
                     src="{{ organizer.assertPath|imagine_filter('thumb_organizer') }}"
                     alt="{{ organizer.name }}">
            </a>
        </div>
        <div class="c-body">
            <div class="c-content-divider c-icon-bg">
                <i class="icon-drop c-rounded c-font-white"></i>
            </div>
            <p>{{ organizer.content|striptags('<a>')|truncate(200, false, '...')|raw }}</p>
            <div class="clear"></div>
            <div class="c-center c-margin-t-50">
                <a href="{{ path('apropos_page') }}#fse" title="{{ organizer.name }}" target="_blank" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{  'plus de détail' }}</a>
            </div>
        </div>
    </div>
</div>



