<div class="c-content-counter-1">
    <div class="container">
        <div class="c-content-title-2">
            <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
                <span class="c-content-label c-bg-green-1">{{ 'les organisateurs'|upper }}</span>
            </h3>
            <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
            <div class="row">
                <div class="c-content-blog-post-card-1-grid">
                    <div class="row">
                        {% if organizers|length > 0 %}
                            {% for organizer in organizers %}
                                <div class="col-md-6">
                                    <div class="c-content-blog-post-card-1 c-option-2 c-bordered box-shadow c-shadow">
                                        <div class="c-media c-content-overlay">
                                            <a href="{{ organizer.website }}" target="_blank">
                                                <img class="c-overlay-object img-responsive custom-center"  src="{{ organizer.assertPath|imagine_filter('thumb_organizer') }}" alt="{{ organizer.name }}">
                                            </a>
                                        </div>
                                        <div class="c-body">
                                            <div class="c-content-divider c-icon-bg">
                                                <i class="icon-drop c-rounded c-font-white"></i>
                                            </div>
                                            <p>{{ organizer.content|striptags('<a>')|truncate(200, false, '...')|raw }}</p>
                                            <div class="clear"></div>
                                            <div class="c-center c-margin-t-50">
                                                <a href="{{ organizer.website }}" title="{{ organizer.name }}" target="_blank" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{  'plus de détail' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
