<!-- BEGIN: FEATURES 4.5 -->
<div class="c-content-box c-size-md c-no-padding c-bg-white">
    <div class="c-content-feature-4">
        <div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white" style="background-image: url({{ asset('build/web/static/edu_finan.jpg') }}"></div>
        <div class="c-content-area c-content-left"></div>
        <div class="container">
            <div class="c-feature-content c-left">
                <div class="c-content-v-center">
                    <div class="c-wrapper">
                        <div class="c-body">
                            <div class="c-content-title-1 animated wow fadeInDown" data-wow-delay="0.2s">
                                <h3 class="c-font-uppercase c-font-bold c-left">{{ 'Education financières' }}</h3>
                                <div class="c-line-left"></div>
                            </div>
                            <div class="c-content animated wow fadeInDown" data-wow-delay="0.7s">
                                <p class="c-margin-b-10 c-left text-justify">
                                    {{ 'Le programme d’éducation financière a pour objectif de transmettre à l’apprenant un ensemble de connaissances et de savoir-faire permettant de faire des choix pertinents dans le domaine financier notamment l’optimisation de la gestion de ses finances personnelles, celles de l’entreprise et comment déterminer le type de crédits et de placement qui sont les plus pertinents pour son entreprise.' }}
                                </p>
                                <p class="c-margin-b-30 c-left">
                                    {{ 'Session ouvertes à toutes les PME selon les modalités de participation :' }}
                                </p>
                                <ul class="c-margin-b-15">
                                    <li><strong>{{ '100 000 FCFA (package valable pour 2 personnes) pour les entreprises membres de la CGECI' }}</strong></li>
                                    <li><strong>{{ '150 000 FCFA (package valable pour 2 personnes) pour les entreprises non membres de la CGECI' }}</strong></li>
                                </ul>
                                <a href="#" class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animated fadeIn" data-wow-delay="1s">{{ 'Contactez-nous pour en savoir plus'|upper }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: FEATURES 4.5 --><!-- END: CONTENT/FEATURES/FEATURES-4-5 -->
<!-- BEGIN: CONTENT/FEATURES/FEATURES-4-6 -->
<!-- BEGIN: FEATURES 4.6 -->
<div class="c-content-box c-size-md c-no-padding c-bg-dark">
    <div class="c-content-feature-4">
        <div class="c-bg-parallax c-feature-bg c-content-left c-arrow c-border-right-dark" style="background-image: url({{ asset('build/web/static/renfor_cap.jpg') }}"></div>
        <div class="c-content-area c-content-right"></div>
        <div class="container">
            <div class="c-feature-content c-right">
                <div class="c-content-v-center">
                    <div class="c-wrapper">
                        <div class="c-body">
                            <div class="c-content-title-1 animated wow fadeInDown" data-wow-delay="0.2s">
                                <h3 class="c-font-uppercase c-font-bold c-right c-font-white">{{ 'Renforcement des capacités' }}</h3>
                                <div class="c-line-right"></div>
                            </div>
                            <div class="c-content animated wow fadeInDown" data-wow-delay="0.7s">
                                <p class="c-margin-b-30 c-right c-font-white">
                                    Programme qui vise à Identifier, présélectionner et dresser le profil d’un ensemble de <strong>200 PME</strong> de différents secteurs d’activités avec un chiffre d’affaire compris entre <strong>300 millions et 5 milliards de FCFA</strong>, afin d’en retenir 100, dont les dossiers seront soumis aux Institutions financières aux fin de financements.
                                </p>
                                <a href="#" class="btn btn-lg c-btn-green-1 c-btn-square c-btn-bold wow animated fadeIn wow animated fadeIn" data-wow-delay="1s">{{ 'Contactez-nous pour en savoir plus'|upper }}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END: FEATURES 4.6 --><!-- END: CONTENT/FEATURES/FEATURES-4-6 -->