{% for part in parts %}
    {% if part.programs|length > 0 %}
    <div class="c-content-title-1">
        <h5 class="c-font-uppercase c-bg-green-1 c-font-bold c-center c-font-white">
            <span class="c-font-16">
                {{ part.title }}
            </span>
        </h5>
        <div class="c-line-center c-bg-green-1"></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'Horaires' }}</th>
                <th>{{ 'Déroulement' }}</th>
            </tr>
        </thead>
        <tbody>
        {% for program in  part.programs %}
            {% if program.section.id == sectionId %}
                <tr {% if loop.index is odd %} class="active" {% endif %}>
                    <th style="width: 15%;" scope="row">{{ program.hours }}</th>
                    <td style="width: 85%;">{{ program.content|raw }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endfor %}
