<div class="c-center">
    <img src="{{ asset('build/web/static/savethdate.jpg') }}" alt="la finance s'engage {{ 'now'|date('Y') }}"
         srcset="{{ asset('build/web/static/savethdate.jpg') }} 1280w,
{{ asset('build/web/static/savethdate.jpg') }} 1024w,
{{ asset('build/web/static/savethdate.jpg') }} 640w,
{{ asset('build/web/static/savethdate.jpg') }} 320w"
         sizes="(min-width: 1180px) 1180px, 100vw">
</div>