<div class="c-content-counter-1">
    <div class="c-content-title-2">
        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
            <span class="c-content-label c-bg-green-1">{{ 'les statistiques clés'|upper }}</span>
        </h3>
        <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
    </div>
    <div class="row c-margin-t-60">
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">101</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Acteurs clé' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">101</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'chiffre clé' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">101</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'institutions financières' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">101</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Titre ici' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">Lorem ipsum dolor sit amet, consectetur</p>
        </div>
    </div>
</div>
