<div class="c-content-counter-1">
    <div class="c-content-title-2">
        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
            <span class="c-content-label c-bg-green-1">{{ 'les statistiques clés'|upper }}</span>
        </h3>
        <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
    </div>
    <div class="row c-margin-t-60">
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">400</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'Acteurs clé' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'Acteurs clé de l\'écosystème réunis : comprenant l\'état, le régulateur, les institutions de micro finance, les banques, les ptfs' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">3408</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'chiffre clé' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'Milliards d\'engagement de financement pour 2017 enregistrés' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green c-bg-green-font" data-counter="counterup">40</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">{{ 'institutions financières' }}</h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ 'Institutions financières engagées' }}</p>
        </div>
        <div class="col-md-3">
            <div class="c-counter c-bg-green-1 c-bg-green-1-font" data-counter="counterup">101%</div>
            <h4 class="c-title c-font-dark-1 c-font-uppercase c-font-bold">
                {{ 'Pourcentage des objectifs atteints' }}
            </h4>
            <p class="c-content c-font-dark-1 c-opacity-08">{{ '74% des objectifs atteints sur les engagements pris en 2016 pour 2017' }}</p>
        </div>
    </div>
</div>
