{% extends 'admin/forum/forum_layout.html.twig' %}

{% block title %} {{ 'Partie du forum' }} {% endblock %}
{% block forum_title %} {{ '| Partie du forum'|upper }}{% endblock %}

{% block forum_content %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Creér une partie de la cérémonie'|upper }}</h4>
                <a class="btn btn-square btn-outline-danger" href="{{ path('part_index') }}">
                    <label><i class="ti-na"></i></label>
                </a>
            </header>
            <div class="card-body center-vh">
                {{ include('/admin/forum/part/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}