{% extends 'fse/fse_layout.html.twig' %}

{% block title %} {{ 'Type de partenaires' }} {% endblock %}
{% block fse_title %} {{ '| Type de partenaire'|upper }}{% endblock %}

{% block fse_content %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Creér un nouveau Type de partenaire'|upper }}</h4>
                <a class="btn btn-square btn-outline-danger" href="{{ path('partner_type_index') }}">
                    <label><i class="ti-na"></i></label>
                </a>
            </header>
            <div class="card-body center-vh">
                {{ include('partner_type/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}