{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block body %}
    <!-- slide block -->
    {{ include('includes/simple_banner.html.twig') }}
    <!-- content block -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'les organisateurs'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'Ecosystème FSE'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'LA FINANCE S\'ENGAGE'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="title-block">
                    <h3>{{ 'Intervenants'|upper }}</h3>
                    <span>A short sub-text to define the heading</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}