{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block body %}
    <!-- slide block -->
    {{ include('includes/simple_banner.html.twig') }}
    <!-- content block -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'les organisateurs'|upper }}</h3>
                </div>
                <div class="section nobg topmargin-lg nobottommargin">
                    <div class="container clearfix">
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInLeft">
                        </div>
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                    </div>
                    <div class="container clearfix">
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInRight">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'Ecosystème FSE'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'LA FINANCE S\'ENGAGE'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="title-block">
                    <h3>{{ 'Intervenants'|upper }}</h3>
                    <span>A short sub-text to define the heading</span>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-double-border">
                    <h3>{{ 'Actualités'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="title-block">
                    <h3>{{ 'Partenaires'|upper }}</h3>
                    <span>A short sub-text to define the heading</span>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-double-border">
                    <h3>{{ 'Documents & ressources'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{'Témoignages des participants'|upper }}</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="title-block">
                    <h3>{{ 'Galeries photos'|upper }}</h3>
                    <span>A short sub-text to define the heading</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}