{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block body %}
    <!-- slide block -->
    {{ include('includes/simple_banner.html.twig') }}
    <!-- content block -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- block organisateurs -->
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'les organisateurs'|upper }}</h3>
                </div>
                <div class="section nobg topmargin-lg nobottommargin">
                    <div class="container clearfix">
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInLeft">
                        </div>
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                    </div>
                    <div class="container clearfix">
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInRight">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container clearfix">
                <!-- block ecosystème -->
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'Ecosystème FSE'|upper }}</h3>
                </div>
                <div class="section">
                    <div class="col_one_third nobottommargin mt-5 card">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third nobottommargin mt-5 card">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third nobottommargin mt-5 card col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third nobottommargin mt-5 card">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third nobottommargin mt-5 card">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third nobottommargin mt-5 card col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc text-center">
                                <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                            </div>
                            <div class="card-body center">
                                <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- block video -->
            <div class="section parallax full-screen dark nomargin noborder" style="background-image: url({{ asset('build/front/static/10.jpg') }});"  data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
                <div class="container center clearfix">
                    <div class="heading-block">
                        <h2>{{ 'la finance s\'engage' }}</h2>
                        <span>{{ 'Une initiative unique pour le financement des PME'}}</span>
                    </div>
                    <div class="divcenter bottommargin" style="max-width: 800px;">
                        <iframe width="1280" height="720" src="https://www.youtube.com/embed/p_tGJR0rE34" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="section dark">
                <div class="container clearfix">
                    <div class="fancy-title title-dotted-border title-center">
                        <h3>{{ 'Ils ont participé'|upper }}</h3>
                    </div>
                    <div id="oc-images2" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="true" data-pagi="false" data-autoplay="3000" data-items-xs="1" data-items-sm="2" data-items-md="3" data-items-lg="3" data-items-xl="3">
                        {% for i in 1..10 %}
                            <div class="oc-item card">
                                <div class="feature-box media-box">
                                    <div class="fbox-media">
                                        <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                    </div>
                                    <div class="fbox-desc text-center">
                                        <h3>{{ '{{ Name intervenants}}' }}<span class="subtitle">{{ '{{ intervenant fonction }}' }}</span></h3>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container clearfix">
                    <div class="heading-block center">
                        <h2>{{ 'Actualités' }}</h2>
                    </div>
                    <div class="row">
                        {% for i in 1..5 %}
                            <div class="{{ (loop.index == 1) ? 'col-lg-8' : 'col-lg-4'}} mb-5">
                                <div class="card shadow">
                                    <a href="#"><img class="image_fade card-img" src="{{ asset('build/front/static/17.jpg')}}" alt="Image"></a>
                                    <div class="card-header"><i class="icon-calendar3"></i> 10th Nov 2014</div>
                                    <div class="card-body {% if loop.index == 2 %} h-345 {% endif %}">
                                        <h4 class="card-title">Card Title</h4>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, at, vitae, veritatis, temporibus soluta accusamus eum accusantium incidunt eius quisquam suscipit inventore neque. Distinctio, impedit.</p>
                                    </div>
                                    <div class="card-footer center border-color">
                                        <a href="#" class="button button-rounded button-reveal button-large button-amber"><i class="icon-plus-sign"></i><span>{{ 'Lire l\'article' }}</span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}