{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block body %}
    <!-- slide block -->
    {{ include('includes/simple_banner.html.twig') }}
    <!-- content block -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- block organisateurs -->
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'les organisateurs'|upper }}</h3>
                </div>
                <div class="section nobg topmargin-lg nobottommargin">
                    <div class="container clearfix">
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInLeft">
                        </div>
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                    </div>
                    <div class="container clearfix">
                        <div class="col_half nobottommargin col_last">
                            <div class="heading-block" style="padding-top: 10px;">
                                <h2>{{ '{{ Organisateur name }}' }}</h2>
                            </div>
                            <p>{{ '{{ Description example }}' }}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, repudiandae, maxime, earum, sapiente assumenda non odit laborum qui vero vel quos sint excepturi in laudantium.</p>
                            <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">Voir le site</a>
                        </div>
                        <div class="col_half nobottommargin center">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" data-animate="fadeInRight">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="fancy-title title-dotted-border title-center">
                <h3>{{ 'Ecosystème FSE'|upper }}</h3>
            </div>
            <!-- block ecosystème -->
            <div class="section">
                    <div class="container clearfix">
                        <div class="col_one_third nobottommargin mt-5 card">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third nobottommargin mt-5 card">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third nobottommargin mt-5 card col_last">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third nobottommargin mt-5 card">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third nobottommargin mt-5 card">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third nobottommargin mt-5 card col_last">
                            <div class="feature-box media-box">
                                <div class="fbox-media">
                                    <img src="{{ asset('build/front/static/17.jpg')}}" class="card-img-top" alt="Why choose Us?">
                                </div>
                                <div class="fbox-desc text-center">
                                    <h3>{{ '{{ Name services }}' }}<span class="subtitle">To Redefine your Brand.</span></h3>
                                </div>
                                <div class="card-body center">
                                    <a href="#" class="button button-rounded">En savoir <i class="icon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container clearfix mt-5">
                <div class="fancy-title title-dotted-border title-center">
                    <h3>{{ 'LA FINANCE S\'ENGAGE'|upper }}</h3>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}