{% extends 'base.html.twig' %}
{% block title %}
    {{ 'La finance s\'engage | L\'initiative - A propos' }}
{% endblock %}
{% block base_nav %}
    {{ include('front/includes/nav.html.twig') }}
{% endblock %}
{% block slide %}
    <div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: url({{ asset('build/web/static/banner_partner.jpg') }})">
        <div class="container">
            <div class="c-page-title c-pull-left c-content-title-1">
                <h3 class="c-left c-font-uppercase c-font-bold c-font-white c-font-20 c-font-slim">{{ 'A propos' }}</h3>
                <div class="c-line-left c-theme-bg"></div>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{{ path('homepage') }}" class="c-font-white">{{ 'Accueil' }}</a></li>
                <li class="c-font-white">/</li>
                <li class="c-font-white">{{ 'A propos' }}</li>
            </ul>
        </div>
    </div><!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
{% endblock %}
{% block body %}
    <div id="fse">
        <div class="c-content-box c-size-md c-overflow-hide c-bg-grey-1" style="padding-bottom: 0 !important;">
            <div class="container">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                        <span class="c-content-label c-bg-green-1">{{ 'Les organisateurs' }}</span>
                    </h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
            </div>
            {{ include('home_front/includes/organizer_detail.html.twig', { 'organizers' : organizers }) }}
        </div>
    </div>
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url({{ asset('build/web/static/bg_partners.jpg') }}">
        <div class="container">
            <div class="c-content-feature-9">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-center c-font-bold">{{ 'Partenaires de reférences' }}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                {% for classification in classifications %}
                    {{ include('home_front/includes/partners.html.twig', { 'class' : 'c-bg-green-1'}) }}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}