{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block class_header %} c-layout-header-fullscreen {% endblock %}
{% block base_nav %}
    {{ include('front/includes/nav.html.twig', { 'nav_class': 'c-layout-header-onepage c-layout-header-4 c-bordered c-layout-header-default-mobile c-header-transparent-dark' }) }}
{% endblock %}
{% block slide %}
    {{ include('front/includes/slide.html.twig') }}
    <p>&nbsp;</p>
{% endblock %}
{% block body %}
    <!-- START INITIATIVE -->
        <div id="initiative">
            <!-- Start initiative detail-->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                            <span class="c-content-label">{{ 'Une initiative privée pour le financement des PME' }}</span>
                        </h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                </div>
            </div>
            {% include('home_front/includes/initiative_inc.html.twig') %}
            <!-- end initiative detail -->
            <!-- start statistique clé -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    {{ include('home_front/includes/stats.html.twig') }}
                </div>
            </div>
            <!-- end statistique clé -->
            <!-- start data top -->
            <div class="c-content-box c-size-md c-bg-grey">
                <div class="container">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                            <span class="c-content-label">{{ 'Donnée de la croissance' }}</span>
                        </h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="c-content-bar-2 c-opt-1">
                        <div class="row" data-auto-height="true">
                            {% for tag in tags  %}
                                {% for rapport in tag.rapports %}
                                    {{ include('home_front/includes/data_top.html.twig', { 'rapport': rapport }) }}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end data top -->
        </div>
    <!-- END INITIATIVE -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="c-content-counter-1">
                <div class="container">
                    <div class="c-content-title-2">
                        <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
                            <span class="c-content-label c-bg-green-1">{{ 'les organisateurs'|upper }}</span>
                        </h3>
                        <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
                        <div class="row c-margin-t-40">
                            <div class="c-content-blog-post-card-1-grid">
                                <div class="row">
                                    {% if organizers|length > 0 %}
                                        {% for organizer in organizers %}
                                            {{ include('home_front/includes/organisateur.html.twig', {
                                                'organizer':organizer
                                            }) }}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-content-box c-size-md c-bg-parallax" style="background-image: url({{ asset('build/web/static/bg_partners.jpg') }}">
        <div class="container">
            <div class="c-content-feature-9">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-center c-font-bold">{{ 'Partenaires de reférences' }}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                {% for classification in classifications %}
                    {{ include('home_front/includes/partners.html.twig') }}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    {{ include('home_front/includes/savethedate.html.twig') }}

    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-person-1-slider" data-slider="owl" data-navigation-dots="true">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1 wow animated fadeIn">
                    <h3 class="c-center c-font-uppercase c-font-white c-font-bold">
                        <span class="c-content-label c-bg-green-1">{{ 'Les intervenants'|upper }}</span>
                    </h3>
                    <div class="c-line c-dot c-dot-center c-theme-bg c-theme-bg-after c-line-short"></div>
                </div>
                <!-- End-->
                <div class="owl-carousel owl-theme c-theme c-owl-nav-center c-margin-t-40"
                     data-items="4" data-slide-speed="2000" data-rtl="false"  data-auto-play-hover-pause="true">
                    {% for intervenant in intervenants %}
                        {{ include('home_front/includes/intervenants.html.twig', { 'intervenant': intervenant }) }}
                    {% endfor %}
                </div>
                <div class="c-center">
                    <a href="{{ path('intervenant_page') }}" class="c-margin-t-10 btn btn-lg c-btn-green-1 c-btn-uppercase c-btn-square c-font-white c-font-white-hover c-bg-green-hover c-btn-product">explorer</a>
                </div>
            </div>
            <!-- End-->
        </div>
    </div>
    <div class="c-content-box c-size-md c-overflow-hide c-bg-grey-1">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                    <span class="c-content-label">{{ 'Programme du forum' }}</span>
                </h3>
                <div class="c-line-center c-theme-bg"></div>
            </div>
            <div class="c-container">
                <div class="c-content-tab-3 c-opt-1">
                    <div>
                        <ul class="nav c-theme-nav" style="margin: 0 auto !important;">
                            {% for section in  sections %}
                                <li {% if loop.first %} class="active" {% endif %}>
                                    <a class="c-font-16 c-theme-font c-font-bold"
                                       href="#c-tab3-{{ section.id }}" data-toggle="tab">
                                        {{ section.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="c-tab-content">
                        <div class="container">
                            <div class="tab-content">
                                {% for sectionProgram in sections %}
                                    <div class="tab-pane fade in {% if loop.first %} active {% endif %}" id="c-tab3-{{ sectionProgram.id }}">
                                        <div class="c-content-panel">
                                            <div class="c-label" style="margin-left: 2%;">
                                                {{ sectionProgram.intervalHoraire }} - {{ sectionProgram.lieu |upper }}
                                            </div>
                                            <div class="c-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{ include('home_front/includes/program.html.twig', {'sectionId' : sectionProgram.id }) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/layout/assets/base/js/slide.js') }}" type="text/javascript"></script>
{% endblock %}