{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block class_header %}c-layout-header-fullscreen c-layout-header-topbar c-layout-header-topbar-collapse{% endblock %}
{% block base_nav %} {{ include('front/includes/nav.html.twig') }} {% endblock %}
{% block slide %}
{{ include('front/includes/slide.html.twig') }}
    <div class="c-center">
        <img src="{{ asset('build/web/static/banner_lancement.jpg') }}" alt=""
             srcset="{{ asset('build/web/static/banner_lancement.jpg') }} 1280w,
{{ asset('build/web/static/banner_lancement.jpg') }} 1024w,
{{ asset('build/web/static/banner_lancement.jpg') }} 640w,
{{ asset('build/web/static/banner_lancement.jpg') }} 320w"
             sizes="(min-width: 1280px) 1280px, 100vw"
        >
    </div>
{% endblock %}
{% block body %}
    <!-- BEGIN: CONTENT/ORGANISATEUR -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-title-1 wow animated fadeIn">
                        <h3 class="c-center c-font-uppercase c-font-bold">{{ 'les organisateurs'|upper }}</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                </div>
            </div>
            {% for organizer in organizers %}
                {% if loop.first %}
                    <div class="c-content-box c-overflow-hide">
                        <div class="c-content-product-3 c-bs-grid-reset-space">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="c-content-overlay">
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 350px; width: 95%; background-image: url('{{ asset(organizer.assertPath|imagine_filter('thumb_medium'))}}');"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="c-wrapper c-bg-green-1" style="height: 350px;">
                                            <div class="c-content c-border c-border-padding c-border-padding-right">
                                                <h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">{{ organizer.name }}</h3>
                                                <p class="c-description c-font-17 c-font-white">{{ organizer.content|striptags|truncate(150, false, '...') }}</p>
                                                <a href="{{ organizer.website }}" target="_blank" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">{{ 'en savoir plus'|upper }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="c-content-box c-size-lg c-no-padding c-overflow-hide c-bg-white">
                        <div class="c-content-product-3 c-bs-grid-reset-space">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="c-wrapper c-theme-bg" style="height: 350px;">
                                            <div class="c-content c-border c-border-padding c-border-padding-left">
                                                <h3 class="c-title c-font-25 c-font-white c-font-uppercase c-font-bold">{{ organizer.name }}</h3>
                                                <p class="c-description c-font-17 c-font-white">{{ organizer.content|striptags|truncate(150, false, '...') }}</p>
                                                <a href="{{ organizer.website }}" target="_blank" class="btn btn-lg c-btn-white c-font-uppercase c-btn-square c-btn-border-1x">{{ 'en savoir plus'|upper }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="c-content-overlay">
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 350px; width: 95%; background-image: url('{{ asset(organizer.assertPath|imagine_filter('thumb_medium'))}}');"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- END: CONTENT/ORGANISATEUR -->

    <!-- BEGIN: CONTENT/PUBLICITE 1 -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="c-content-bar-1 c-opt-1 c-bordered c-theme-border c-shadow">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card mb-4 box-shadow c-shadow">
                            <a href="#">
                                <img class="card-img-top" src="http://via.placeholder.com/650x150?text=encare pub" alt="Card image cap"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/PUBLICITE 2 -->

    <!-- BEGIN: CONTENT/ACTIVITE -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <div class="c-content-tile-grid c-bs-grid-reset-space" data-auto-height="true">
                <div class="c-content-title-1 wow animate fadeInDown">
                    <h3 class="c-font-uppercase c-center c-font-bold">{{ 'Nos activités' }}</h3>
                    <div class="c-line-center"></div>
                </div>
                <div class="row row wow animate fadeInUp">
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-left c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/17.jpg') }})"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'les PME s\'engagent'|upper }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-left c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/18.jpg') }})"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'éducation financière'|upper }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'les awards du financement'|upper }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-right c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/19.jpg') }})"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'la bourse aux projets' }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-right c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/20.jpg') }})"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-left c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/21.jpg') }})"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'Données pour la Croissance' }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="c-content-tile-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-arrow-left c-content-overlay">
                                        <div class="c-overlay-wrapper">
                                            <div class="c-overlay-content">
                                                <a href="#"><i class="icon-link"></i></a>
                                            </div>
                                        </div>
                                        <div class="c-image c-overlay-object" data-height="height" style="background-image: url({{ asset('build/front/static/22.jpg') }})"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="c-tile-content c-bg-white c-content-v-center" data-height="height">
                                        <div class="c-wrapper">
                                            <div class="c-body c-center">
                                                <h3 class="c-tile-title c-font-25 c-line-height-34 c-font-uppercase c-font-bold">
                                                    {{ 'Actualités Economiques et Financières'|upper }}
                                                </h3>
                                                <a href="#" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{ 'découvrir' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BEGIN: CONTENT/ACTIVITE -->

    <!-- BEGIN: CONTENT/ACTUALITE -->
    <div class="c-content-box c-size-md c-bg-img-center">
        <div class="container">
            <div class="c-content-title-1 wow animated fadeIn">
                <h3 class="c-center c-font-uppercase c-font-bold">{{ 'actualités'|upper }}</h3>
                <div class="c-line-center c-theme-bg"></div>
                <div class="row">
                    <div class="c-content-blog-post-card-1-grid">
                        <div class="row">
                            {% for post in posts %}
                                <div class="{{ (loop.index == 1) ? 'col-md-8' : 'col-md-4'}}">
                                    {% set filter = ((loop.index == 1) ? 'thumb_blog_730x430' : 'thumb_blog_500x280') %}
                                    <div class="c-content-blog-post-card-1 c-option-2 c-bordered box-shadow c-shadow">
                                        <div class="c-media c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="{{ path('new_detail', {'slug': post.id  }) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                            <img class="c-overlay-object img-responsive"  src="{{ post.assertPath|imagine_filter(filter) }}" alt="{{ post.title }}">
                                        </div>
                                        <div class="c-body {% if loop.index == 2 %} h-345 {% endif %}">
                                            <div class="c-title c-font-bold c-font-uppercase">
                                                <a href="#">{{ post.title|upper }}</a>
                                            </div>
                                            <div class="c-author">
                                                Publié le: <span class="c-font-uppercase c-font-bold">{{ post.created|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y") }}</span>
                                            </div>
                                            <p>{{ post.content|striptags('<a>')|truncate(110, true, '...')|raw }}</p>
                                            <div class="c-content-divider">
                                                <i class="icon-dot"></i>
                                            </div>
                                            <div class="c-center">
                                                <a href="{{ path('new_detail', {'slug': post.id  }) }}" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{  'Lire l\'article' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="c-center">
                    <a href="" class="btn btn-lg c-btn-green c-btn-border-2x c-btn-square c-btn-bold wow animate fadeIn" data-wow-delay="0.2s">{{ 'plus d\'actualités'|upper }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/ACTUALITE -->

    <!-- BEGIN: CONTENT/PUBLICITE 1 -->
    <div class="c-content-box c-size-md">
        <div class="container">
            <div class="c-content-bar-1 c-opt-1 c-bordered c-theme-border c-shadow">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="card mb-4 box-shadow c-shadow">
                            <a href="#">
                                <img class="card-img-top" src="http://via.placeholder.com/650x150?text=encare pub" alt="Card image cap"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/PUBLICITE 2 -->

    <!-- START: CONTENT/VIDEO TITLE  -->
    <div class="container c-padding-20">
        <div class="c-content-title-2">
             <h3 class="c-center c-font-uppercase c-font-bold">{{ 'Engagements des acteurs financières 2017'}}</h3>
             <div class="c-line-center c-theme-bg"></div>
        </div>
        <div class="c-content-divider c-divider-sm c-icon-bg">
            <i class="icon-graph c-rounded c-theme-bg c-font-white"></i>
        </div>
    </div>
    <!-- END: CONTENT/VIDEO TITLE -->

    <!-- START: CONTENT/VIDEO -->
    <div class="c-content-box c-size-md c-bg-img-center" style="background-image: url({{ asset('build/front/static/10.jpg') }}">
        <div class="container">
            <div class="c-content-panel">
                <div class="c-body">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-2">
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/p_tGJR0rE34" frameborder="0" allow="autoplay; encrypted-media" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/VIDEO-->

    <!-- BEGIN: CONTENT/SLIDERS/INTERVENANT-2 -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-person-1-slider" data-slider="owl">
                <!-- Begin: Title 1 component -->
                <div class="c-content-title-1 wow animated fadeIn">
                    <h3 class="c-center c-font-uppercase c-font-bold">{{ 'Les Acteurs clés de l\'écosystème financier' }}</h3>
                    <div class="c-line-center c-theme-bg"></div>
                </div>
                <!-- End-->
                <!-- Begin: Owlcarousel -->
                <div class="owl-carousel owl-theme c-theme c-owl-nav-center wow animated fadeInUp" data-items="3" data-slide-speed="8000" data-rtl="false">
                    {% for intervenant in intervenants %}
                        <div class="c-content-person-1 c-option-2 c-shadow">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="{{ asset(intervenant.assertPath|imagine_filter('thumb_intervenant')) }}" data-lightbox="fancybox" data-fancybox-group="gallery-2">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="{{ asset(intervenant.assertPath|imagine_filter('thumb_intervenant')) }}" class="img-responsive c-overlay-object" alt="{{ intervenant.name }}">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold" title="{{ intervenant.name }}">{{ intervenant.name }}</div>
                                </div>
                                <p>{{ intervenant.office }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- End-->
            </div>
            <!-- End-->
        </div>
    </div>
    <!-- END: CONTENT/SLIDERS/INTERVENANT-2 -->

    <!-- BEGIN: CONTENT/PARTENAIRE -->
    <div class="c-content-box c-size-md c-bg-img-center">
        <div class="container">
            <div class="c-content-title-1">
                <h3 class="c-font-uppercase c-center c-font-bold"><span class="c-bg-grey-1">{{ 'Nos partenaires & sponsors'|upper }}</span></h3>
            </div>
            {% for classification in classifications %}
                <div class="c-content-title-4 c-padding-20">
                    <h3 class="c-font-uppercase c-center c-font-bold c-font-white c-line-strike">
                        <span class="c-bg-green">{{ classification.title|upper }}</span>
                    </h3>
                </div>
                <div class="row c-margin-b-50">
                    {% for partner in classification.partner %}
                        <div class="col-md-4 c-margin-b-20">
                            <div class="card mb-4 box-shadow c-shadow">
                                <div class="card-header">
                                    <img class="card-img-top" src="{{ asset(partner.assertPath|imagine_filter('thumb_back_small_300x200'))}}" alt="{{ partner.name }}">
                                </div>
                                <div class="card-body">
                                    <div class="card-text c-center">
                                        <div class="btn-group c-border-top" role="group">
                                            <a href="{{ partner.website }}" target="_blank" class="btn btn-lg c-btn-green-1 c-btn-uppercase c-btn-square c-font-white c-font-white-hover c-bg-green-hover c-btn-product"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
    <!-- END: CONTENT/PARTENAIRE -->

    <!-- BEGIN: CONTENT/TEMOIGNAGE -->
    <!-- youtube video list with api (thumbnail) and create upload youtube -->
    <!-- END: CONTENT/TEMOIGNAGE -->

    <!-- BEGIN: CONTENT/RESSOURCE -->
    <!-- google drive list files with api (thumbnail) and create upload google api -->
    <!-- END: CONTENT/RESSOURCE -->

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/layout/assets/base/js/slide.js') }}" type="text/javascript"></script>
{% endblock %}