{% extends 'base.html.twig' %}
{% block title %}
    {{ 'L\'Ecosystème la finance s\'engage' }}
{% endblock %}
{% block base_nav %}
    {{ include('front/includes/nav.html.twig',{'nav_class':'c-layout-header-4 c-layout-header-default-mobile'}) }}
{% endblock %}
{% block slide %}
{{ include('front/includes/slide.html.twig') }}
    <div class="c-center">
        <img src="{{ asset('build/web/static/banner_lancement.jpg') }}" alt=""
             srcset="{{ asset('build/web/static/banner_lancement.jpg') }} 1280w,
{{ asset('build/web/static/banner_lancement.jpg') }} 1024w,
{{ asset('build/web/static/banner_lancement.jpg') }} 640w,
{{ asset('build/web/static/banner_lancement.jpg') }} 320w"
             sizes="(min-width: 1180px) 1180px, 100vw"
        >
    </div>
{% endblock %}
{% block body %}
    <!-- initiative -->
    <div class="c-content-box c-size-md c-bg-grey-1">
	    <div class="container">
            <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                        <span class="c-bg-green-1 c-content-label">{{ 'l\'initiative' }}</span>
                    </h3>
                    <div class="c-line-center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- statistique clé -->
    <div class="c-content-box c-size-md c-bg-white">
        <div class="container">
            <div class="c-content-feature-2-grid" data-auto-height="true" data-mode="base-height">
                <div class="c-content-title-1">
                    <h3 class="c-font-uppercase c-font-bold c-center c-font-white">
                        <span class="c-bg-green-1 c-content-label">{{ 'Statistiques clés' }}</span>
                    </h3>
                    <div class="c-line-center"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/layout/assets/base/js/slide.js') }}" type="text/javascript"></script>
{% endblock %}