{% extends 'base.html.twig' %}
{% block title %}{{ 'Les intervenants du forum' }}{% endblock %}
{% block base_nav %} {{ include('front/includes/nav.html.twig') }} {% endblock %}
{% block body %}

    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{{ 'Les Acteurs clés de l\'écosystème financier' }}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="{{ path('homepage') }}">Accueil</a></li>
                <li>/</li>
                <li><a href="javascript:;">{{ 'Intervenants' }}</a></li>
            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
    <!-- BEGIN: Intervenants -->
    <div class="c-content-box c-size-md c-bg-grey-1">
        <div class="container">
            <!-- Begin: Testimonals 1 component -->
            <div class="c-content-team-1-slider" data-slider="owl" data-items="4">
                {% for intervenant in intervenants %}
                    <div class="col-md-3 col-sm-6 c-margin-b-30" style="height: 550px;">
                        <div class="c-content-person-1 c-option-2">
                            <div class="c-caption c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="#"><i class="icon-link"></i></a>
                                        <a href="{{ asset(intervenant.assertPath|imagine_filter('thumb_auto')) }}" data-lightbox="fancybox" data-fancybox-group="gallery-4">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                    </div>
                                </div>
                                <img class="c-overlay-object img-responsive" src="{{ asset(intervenant.assertPath|imagine_filter('thumb_intervenant')) }}" alt="{{ intervenant.name }}">
                            </div>
                            <div class="c-body">
                                <div class="c-head">
                                    <div class="c-name c-font-uppercase c-font-bold" title="{{ intervenant.name }}">{{ intervenant.name }}</div>
                                </div>
                                <p>{{ intervenant.office }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- END: Intervenants -->
{% endblock %}
