<!-- BEGIN: HEADER -->
<header class="c-layout-header {{ nav_class|default('c-layout-header-2 c-layout-header-dark-mobile c-header-transparent-dark') }}" data-minimize-offset="80">
    <div class="c-navbar">
        <div class="container">
            <!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
                <div class="c-brand c-pull-left">
                    <a href="{{ path('homepage') }}" class="c-logo">
                        <img src="{{ asset('build/layout/assets/base/img/layout/logos/logo-web-1.png') }}" alt="{{ 'La finance s\'engage' }}" class="c-desktop-logo">
                        <img src="{{ asset('build/layout/assets/base/img/layout/logos/logo-web-1.png') }}" alt="{{ 'La finance s\'engage' }}" class="c-desktop-logo-inverse">
                        <img src="{{ asset('build/layout/assets/base/img/layout/logos/logo-mobile.png') }}" alt="{{ 'La finance s\'engage' }}" class="c-mobile-logo">
                    </a>
                    <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                        <span class="c-line"></span>
                    </button>
                    <button class="c-topbar-toggler" type="button">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div>
                <!-- END: BRAND -->
                <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
                <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
                    <ul class="nav navbar-nav c-theme-nav">
                        <li class="c-menu-type-classic">
                            <a href="{{ path('homepage') }}" class="c-link dropdown-toggle">{{ 'A propos' }}<span class="c-arrow c-toggler"></span></a>
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li class="dropdown-submenu">
                                    <a href="{{ path('initiative') }}">{{ 'L\'initiative' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('organizer') }}">{{ 'Les organisateurs' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('intervenant_page') }}">{{ 'Les intervenants' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('partner_page') }}">{{ 'Les partenaires' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('rapport_page') }}">{{ 'Les données de la croissance' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">{{ 'Témoignages De Participants' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('gallery_page') }}">{{ 'Galeries Photos' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="c-menu-type-classic">
                            <a href="#" class="c-link dropdown-toggle">{{ 'pme' }}<span class="c-arrow c-toggler"></span></a>
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li class="dropdown-submenu">
                                    <a href="#">
                                        {{ 'Les PME s\'engagent' }}<span class="c-arrow c-toggler"></span>
                                    </a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('dashboard_member') }}" title="Renforcement des Capacités">{{ 'Programme de Renforcement des capacités'}}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="{{ path('education_page') }}">{{ 'Programme d\'Education Financière' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="c-menu-type-classic">
                            <a href="#" class="c-link dropdown-toggle">{{ 'Institutions financiers'}}<span class="c-arrow c-toggler"></span></a>
                            <ul class="dropdown-menu c-menu-type-classic c-pull-left">
                                <li class="dropdown-submenu">
                                    <a href="#">{{ 'Engagements' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">{{ 'Awards' }}<span class="c-arrow c-toggler"></span></a>
                                </li>
                            </ul>
                        </li>
                        <li class="c-menu-type-classic">
                            <a href="{{ path('page_new') }}" class="c-link">
                                {{ 'Portail du financement' }}
                            </a>
                        </li>
                        <li>
                            {% if app.user %}
                                {% if is_granted('ROLE_SUPER_ADMIN')  and is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('admin') }}" class="c-btn btn-no-focus c-btn-header btn c-btn-green-1 btn-sm  c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
                                        <i class="icon-user"></i>
                                        {{ 'Gestion' }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('account') }}" class="c-btn btn-no-focus c-btn-header btn c-btn-green-1 btn-sm  c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
                                        <i class="icon-user"></i>
                                        {{ 'Mon compte' }}
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('register') }}" class="c-btn btn-no-focus c-btn-header btn c-btn-green-1 btn-sm  c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
                                    <i class="icon-user"></i>
                                    {{ 's\'inscrire' }}
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU -->
                <!-- END: HOR NAV -->
            </div>
        </div>
    </div>
</header>
<!-- END: HEADER -->