<!-- BEGIN: CONTENT/MISC/LATEST-ITEMS-4 -->
<div class="c-center">
    <div class="col-md-8" style="padding: 0 !important;">
        <div class="c-content-media-2-slider" data-slider="owl">
            <div class="owl-carousel owl-theme c-theme owl-single" data-single-item="true" data-auto-play="4000" data-rtl="false">
                <div class="item">
                    <div class="c-content-label c-font-uppercase c-font-bold">{{ 'Photo de Famille' }}</div>
                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ asset('build/web/static/slides1.jpg') }}); min-height: 480px;">
                    </div>
                </div>
                <div class="item">
                    <div class="c-content-label c-font-uppercase c-font-bold">{{ 'Enagagements des institutions financières' }}</div>
                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ asset('build/web/static/slides2.jpg') }}); min-height: 480px;">
                    </div>
                </div>
                <div class="item">
                    <div class="c-content-label c-font-uppercase c-font-bold">{{ 'Remise des awards du financements' }}</div>
                    <div class="c-content-media-2 c-bg-img-center" style="background-image: url({{ asset('build/web/static/slides3.jpg') }}); min-height: 480px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="padding: 0 !important;">
        <div class="c-content-media-1 c-bg-green-1" style="height: 480px;">
            <a href="#" class="c-title c-font-uppercase  c-font-bold c-font-white c-theme-on-hover c-center" style="padding-top: 7rem;">{{ 'La finance s\'enagage' }}</a>
            <div class="c-content-label c-font-uppercase c-font-bold c-bg-green-1 c-center">{{ 'initiative pour le financement des PME' }}</div>
        </div>
    </div>
</div>
<!-- END: CONTENT/MISC/LATEST-ITEMS-4 -->