<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
<section class="c-layout-revo-slider c-layout-revo-slider-8" dir="ltr">
    <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
        <div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <!--BEGIN: SLIDE #1 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                    <img
                            alt=""
                            src="{{ asset('build/layout/assets/base/img/layout/sliders/revo-slider/forums/slides1.jpg') }}"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"
                    >
                    <!--BEGIN: MAIN TITLE -->
                    <div class="tp-caption customin customout"
                         data-x="center"
                         data-y="center"
                         data-hoffset=""
                         data-voffset="-30"
                         data-speed="500"
                         data-start="1000"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-easing="Back.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="600"
                    >
                        <h3 class="c-main-title c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
                            Abidjan<br>
                            La finance s'engage 2018
                        </h3>
                    </div>
                    <!--END -->

                    <!--BEGIN: ACTION BUTTON -->
                    <div class="tp-caption randomrotateou"
                         data-x="center"
                         data-y="center"
                         data-hoffset=""
                         data-voffset="200"
                         data-speed="300"
                         data-start="1500"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;" >
                    </div>
                    <!--END -->

                    <!--BEGIN: SUB TITLE -->
                    <div class="tp-caption customin customout"
                         data-x="center"
                         data-y="bottom"
                         data-hoffset="0"
                         data-voffset="0"
                         data-width="full"
                         data-basealign="slide"
                         data-speed="500"
                         data-start="1800"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-easing="Back.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="600"
                         style="width: 100%;"
                    >
                        <div class="c-action-bar">
                            <div class="container">
                                <div class="c-content ">
                                    <h3 class="c-font-30 c-font-sbold c-font-white">
                                        {{ 'Une initiative privée pour le financement des PME' }}
                                    </h3>
                                    <p class="c-font-20 c-font-thin c-font-white c-opacity-08">
                                        les dates et lieux du prochaine forum
                                    </p>
                                </div>
                                <div class="c-btn-container">
                                    <a href="{{ path('initiative') }}" class="btn c-action-btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">{{ 'en savoir +' }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END -->
                </li>
                <!--END -->
                <!-- SLIDE #2 -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                    <img
                            alt=""
                            src="{{ asset('build/layout/assets/base/img/layout/sliders/revo-slider/forums/slides2.jpg') }}"
                            data-bgposition="center center"
                            data-bgfit="cover"
                            data-bgrepeat="no-repeat"
                    >
                    <!--BEGIN: ACTION BUTTON -->
                    <div class="tp-caption randomrotateou"
                         data-x="center"
                         data-y="center"
                         data-hoffset=""
                         data-voffset="200"
                         data-speed="300"
                         data-start="1500"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;" >
                    </div>
                    <!--END -->

                    <!--BEGIN: SUB TITLE -->
                    <div class="tp-caption customin customout"
                         data-x="center"
                         data-y="bottom"
                         data-hoffset="0"
                         data-voffset="0"
                         data-width="full"
                         data-basealign="slide"
                         data-speed="500"
                         data-start="1800"
                         data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                         data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                         data-easing="Back.easeOut"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="600"
                         style="width: 100%;"
                    >
                        <div class="c-action-bar">
                            <div class="container">
                                <div class="c-content ">
                                    <h3 class="c-font-30 c-font-sbold c-font-white">
                                        {{ 'Engagements des acteurs financiers' }}
                                    </h3>
                                    <p class="c-font-20 c-font-thin c-font-white c-opacity-08">
                                        texte sur les engagements comme le premier slide
                                    </p>
                                </div>
                                <div class="c-btn-container">
                                    <a href="#" class="btn c-action-btn btn-lg c-btn-square c-btn-border-2x c-btn-white c-btn-bold c-btn-uppercase">{{ 'en savoir +' }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END -->
                </li>
                <!-- END SLIDE #2 -->
                <!-- SLIDE #3 - VIDEO SLIDER -->
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="6000" data-thumb="">
                    <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                    <img src="{{ asset('build/layout/assets/base/img/layout/sliders/revo-slider/forums/slides2.jpg') }}" alt="">
                    <!-- BACKGROUND VIDEO LAYER -->
                    <div class="rs-background-video-layer fulllscreenvideo tp-videolayer"
                         data-forcerewind="on"
                         data-volume="mute"
                         data-videowidth="100%"
                         data-videoheight="100%"
                         data-videomp4="{{ asset('build/front/static/videos/explorer.mp4') }}"
                         data-videopreload="preload"
                         data-videoloop="loop"
                         data-forceCover="1"
                         data-aspectratio="16:9"
                         data-autoplay="true"
                         data-autoplayonlyfirsttime="false"
                         data-nextslideatend="true">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-8 -->