{% extends 'admin.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="card">
            <h4 class="card-title">{{ 'Dashboard' }}</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('fse') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span>
                                        <span class="title">{{ 'FSE'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-direction-alt"></span>
                                        <span class="title">{{ 'PME s\'engage'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-user"></span>
                                        <span class="title">{{ 'entrepreuneurs'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-stats-up"></span>
                                        <span class="title">{{ 'bourse aux projets'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-blackboard"></span>
                                        <span class="title">{{ 'éducation financières'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-crown"></span>
                                        <span class="title">{{ 'awards'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-image"></span>
                                        <span class="title">{{ 'galeries'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="{{ path('post_index') }}" class="text-default">
                                        <span class="icon ti-layout-accordion-list"></span>
                                        <span class="title">{{ 'news'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-default">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-email"></span>
                                        <span class="title">{{ 'newsletters app'|upper}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.main-content -->
{% endblock %}