{% extends 'admin/admin.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <div class="main-content">
        <div class="card">
            <h4 class="card-title">{{ 'Dashboard' }}</h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('forum') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'Gestion de la Section des contenus du Forum'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="{{ path('forum') }}" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'Gestion de la section entrepreneurs'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="#" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'gestion de la section acteurs financier'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="#" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'gestion de la section galerie photos'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="#" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="#" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'gestion de la section videos'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="#" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('post_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'gestion de la section news fse'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="{{ path('post_index') }}" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="card shadow-1">
                        <div class="card-body">
                            <div class="text-center my-2">
                                <div class="fs-15 fw-400 text-instagram">
                                    <a href="{{ path('rapport_index') }}" class="text-default">
                                        <span class="icon ti-briefcase"></span><br/>
                                        <span class="title">{{ 'gestion Données de la croissance'|upper }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer center-h">
                            <a href="{{ path('rapport_index') }}" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                        </div>
                        <div class="progress mb-0">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-6 col-lg-3">
                        <div class="card shadow-1">
                            <div class="card-body">
                                <div class="text-center my-2">
                                    <div class="fs-15 fw-400 text-instagram">
                                        <a href="{{ path('users_index') }}" class="text-default">
                                            <span class="icon ti-user"></span><br/>
                                            <span class="title">{{ 'Gestion sections Utilisateurs'|upper }}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer center-h">
                                <a href="{{ path('users_index') }}" class="btn btn-w-md btn-round btn-primary">{{ 'Accéder'|upper }}</a>
                            </div>
                            <div class="progress mb-0">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!--/.main-content -->
{% endblock %}