{% extends 'network/member.html.twig' %}

{% block title %}{{ 'Dashboard |' }}
    {% if app.user|length > 0 %} {{ app.user.username }} {% endif %}
{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="card card-body article">
            <header class="header bg-ui-general">
                <div class="align-center mt-5" style="display: block;">
                    <img src="{{ asset('build/back/static/pme_sengage.png') }}" alt="" class="img-responsive">
                </div>
                <div class="text-center py-40">
                    <h1>{{ 'Nous vous souhaitons la Bienvenue' }}</h1>
                    <div class="gap-items-2 mb-30">
                        <span class="badge badge-pill badge-bold badge-secondary">{{ app.user.lastname|capitalize }}</span>
                        <span class="badge badge-pill badge-bold badge-secondary">{{ app.user.firstname|capitalize }}</span>
                    </div>
                </div>
            </header><!--/.header -->
            <div class="container-article">
                <div class="col-md-12">
                    <div class="card card-bordered">
                        <h4 class="card-title text-center"><strong>{{ 'Déclaration sur l\'honneur'|upper }}</strong></h4>

                        <div class="media-list media-list-hover" data-provide="selectall selectable">
                            <div class="media-list-body scrollable p-5" data-provide="sortable" data-sortable-handle=".sortable-dot" style="height:340px">
                                <p class="lead">{{ 'Je certifie sur l’honneur que les réponses ci-dessous et les informations contenues dans les documents transmis sont conformes à la réalité de mon entreprise.' }}</p>
                                <p class="lead">{{ 'Je certifie sur l’honneur que je suis habilité à porter ce projet et que j’en détiens la propriété intellectuelle.' }}</p>
                                <p class="lead">{{ 'Je réalise que toute fausse déclaration entrainerait ma disqualification du concours et m’exposerait à des poursuites pénales.' }}</p>
                            </div>
                        </div>

                        <div class="publisher bt-1 border-light center-h">
                            <form method="post" action="{{ path('account') }}">
                                <input type="hidden" name="_method" value="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ app.user.username) }}">
                                <button class="btn btn-label btn-primary">
                                    <label><i class="ti-check"></i></label>
                                    {{ 'Oui, je suis d\'accord avec les termes ci-dessus' }}
                                </button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div><!--/.main-content -->
{% endblock %}
