{% extends 'network/member.html.twig' %}

{% block title %}{{ 'Dashboard |' }}
    {% if app.user|length > 0 %} {{ app.user.username }} {% endif %}
{% endblock %}

{% block body %}
    <div class="container">

    <h1 class="pt-60 mb-35"><img src="{{ asset('build/front/static/logo@2x.png') }}" alt="logo"></h1>

    <h3 class="mb-20">{{ 'Votre inscription a été enregistré' }}</h3>
    <p class="mx-auto" style="max-width: 700px">{{ 'Nos services vous contacterons pour la suite. merci de rester à l\'écoute' }}</p>
    <br><br>
    </div>
{% endblock %}
