<footer id="footer" class="dark" style="background: url({{ asset('build/front/static/footer-bg.jpg') }}) repeat; background-size: cover;">
    <div class="container">
        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_two_third">
                <div class="widget clearfix">
                    <img src="{{ asset('build/front/static/logo.png') }}" alt="La finance s'engage" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">
                    <p>
                        La Finance S’Engage, est né d’un projet concu par le Cabinet ESPartners et porté par le Patronat ivoirien et plus particulièrement avec la création de la Commission de Financement du Secteur Privé de la CGECI en partenariat avec la Banque Africaine de Développement dans le but de mobiliser le secteur privé pour offrir des solutions concrètes au financement de l’économie ivoirienne
                    </p>
                    <div class="line" style="margin: 30px 0;"></div>
                    <div class="row">
                        <div class="col-lg-4 col-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">{{ 'L\'initiative'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Les organisateurs'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Les partenaires'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Données de la croissance'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Témoignages des participants'|capitalize }}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">{{ 'renforcement de capacité'|capitalize }}</a></li>
                                <li><a href="#">{{ 'éducation financière'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Actualités'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Bourse aux projets'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Portail FSE'|capitalize }}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-6 bottommargin-sm widget_links">
                            <ul>
                                <li><a href="#">{{ 'Award du financement'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Espace Engagements'|capitalize }}</a></li>
                                <li><a href="#">{{ 'inscriptions'|capitalize }}</a></li>
                                <li><a href="#">{{ 'programmes'|capitalize }}</a></li>
                                <li><a href="#">{{ 'Galeries photo'|capitalize }}</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-6 bottommargin-sm widget_links">
                            <address>
                                <strong>{{ 'Adresse' }}:</strong><br>
                                Avenue Lamblin, Plateau<br>
                                Abidjan, Côte d'ivoire<br>
                            </address>
                        </div>
                        <div class="col-lg-6 col-6 bottommargin-sm widget_links">
                            <abbr title="Phone Number"><strong>Phone:</strong></abbr> +225 2242 7954<br>
                            <abbr title="Fax"><strong>Fax:</strong></abbr> +225 2242 7954<br>
                            <abbr title="Email Address"><strong>Email:</strong></abbr> info@lafinancesengage.com
                        </div>
                        <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image">
                        </div>
                        <div class="col-lg-3 col-6 bottommargin-sm widget_links">
                            <img src="{{ asset('build/front/static/20.png')}}" alt="Image" class="grid-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col_one_third col_last">
                <div class="widget clearfix" style="margin-bottom: -20px;">
                    <div class="row">
                        <h3>Données de la croissance</h3>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="200" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Acteurs clé</h5>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #2CAACA;"><span data-from="100" data-to="1276" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Chiffre clé</h5>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="33" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Institutions financières</h5>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #2CAACA;"><span data-from="74" data-to="1276" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Pourcentage des objectifs atteints</h5>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="4212" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Entreprises</h5>
                        </div>
                        <div class="col-lg-6 bottommargin-sm">
                            <div class="counter counter-small" style="color: #2CAACA;"><span data-from="74" data-to="2" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                            <h5 class="nobottommargin">Films</h5>
                        </div>
                    </div>
                </div>
                <div class="widget subscribe-widget clearfix">
                    <h5>{{ 'Nous suivre sur les médias Sociaux' }}</h5>
                </div>
                <div class="widget clearfix" style="margin-bottom: -20px;">
                    <div class="row">
                        <div class="col-lg-6 clearfix bottommargin-sm">
                            <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#"><small style="display: block; margin-top: 3px;"><strong>{{ 'Aimez-nous' }}</strong><br>sur Facebook</small></a>
                        </div>
                        <div class="col-lg-6 clearfix">
                            <a href="#" class="social-icon si-dark si-colored si-youtube nobottommargin" style="margin-right: 10px;">
                                <i class="icon-youtube"></i>
                                <i class="icon-youtube"></i>
                            </a>
                            <a href="#"><small style="display: block; margin-top: 3px;"><strong>{{ 'S\'abonner' }}</strong><br>{{ 'à la chaine youtube' }}</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .footer-widgets-wrap end -->
    </div>
    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container clearfix">
            <div class="col_half">
                Copyrights &copy;  {{ 'now'|date('Y') }} <a href="http://www.lafinancesengage.com">La finance S'engage</a> | Tous droits Reservés By <a href="http://www.espartners.co" target="_blank">Espartners</a> | Conception: <a href="mailto:raphaelsampan@gmail.com" target="_blank" class="dark">Raphael Blehoue</a>
            </div>
            <div class="col_half col_last tright">
                <div class="fright clearfix">
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                        <i class="icon-twitter"></i>
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-gmail">
                        <i class="icon-gmail"></i>
                        <i class="icon-gmail"></i>
                    </a>
                    <a href="#" class="social-icon si-small si-borderless nobottommargin si-youtube">
                        <i class="icon-youtube"></i>
                        <i class="icon-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- #copyrights end -->
</footer><!-- #footer end -->