<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
        <a class="logo-icon" href=""><img src="{{ asset('build/back/static/logo-icon.png', 'back') }}" alt="Admin FSE icon"></a>
        <span class="logo">
          <a href=""><img src="{{ asset('build/back/static/logo-web-dash.png', 'back') }}" alt="Admin FSE logo"></a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>

    <nav class="sidebar-navigation">

        <div class="sidebar-profile">
            <div class="dropdown">
                <span class="dropdown-toggle no-caret" data-toggle="dropdown"><img class="avatar" src="{{ asset('build/back/static/avatar/1.jpg', 'back') }}" alt="{{ app.user ? app.user.username : ''}}"></span>
                <div class="dropdown-menu open-top-center">
                    <a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a>
                    <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                    <a class="dropdown-item" href="#"><i class="ti-help"></i> Help</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('security_logout') }}"><i class="ti-power-off"></i> {{ 'deconnexion'|capitalize }}</a>
                </div>
            </div>
            <div class="profile-info">
                <h4>{{ app.user ? app.user.lastname|capitalize : ''}} {{ app.user ? app.user.firstname|capitalize : '' }}</h4>
                <p>{{ '{{ fonction }}' }}</p>
            </div>
        </div>

        <ul class="menu menu-lg menu-bordery">

            <li class="menu-item active">
                <a class="menu-link" href="{{ path('admin') }}">
                    <span class="icon ti-home"></span>
                    <span class="title">
                        <span>Dashboard</span>
                        <small>{{ '{{ new items }}' }}</small>
                    </span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="{{ path('fse') }}">
                    <span class="icon ti-briefcase"></span>
                    <span class="title">{{ 'FSE' }}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-direction-alt"></span>
                    <span class="title">{{ 'PME s\'engage'}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-user"></span>
                    <span class="title">{{ 'entrepreuneurs'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-stats-up"></span>
                    <span class="title">{{ 'bourse aux projets'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-blackboard"></span>
                    <span class="title">{{ 'éducation financières'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-crown"></span>
                    <span class="title">{{ 'awards'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-image"></span>
                    <span class="title">{{ 'galeries'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-layout-accordion-list"></span>
                    <span class="title">{{ 'news'|capitalize}}</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="#">
                    <span class="icon ti-email"></span>
                    <span class="title">{{ 'newsletters app'|capitalize}}</span>
                </a>
            </li>
        </ul>
    </nav>

</aside>
