{% extends 'admin/entrepreneur/entrepreneur_layout.html.twig' %}
{% block title %} {{ 'Formation' }} {% endblock %}
{% block entrepreneur_title %} {{ 'Formation'|upper }}{% endblock %}
{% block entrepreneur_content %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                {% if  training|length > 0 %}
                    <h4 class="card-title">{{ 'Formation'|upper }}</h4>
                    <a class="btn btn-label btn-info" href="{{ path('former_new') }}">
                        <label><i class="ti-plus"></i></label>
                        {{ 'Ajouter un nouveau'}}
                    </a>
                {% else %}
                    <h4 class="badge badge-danger">{{ 'Créer une Thématique avant la création de formation' }}</h4>
                    <a class="btn btn-label btn-success" href="{{ path('training_new') }}">
                        <label><i class="ti-plus"></i></label>
                        {{ 'Créer une thématique pour commencer'}}
                    </a>
                {% endif %}
            </header>
            <div class="card-body">
                <table class="table table-striped table-bordered" cellspacing="0" data-provide="datatables">
                    <thead>
                    <tr>
                        <th>{{ 'Réference' }}</th>
                        <th>{{ 'Nom de la formation' }}</th>
                        <th>{{ 'Thematique associée' }}</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                    <tr>
                        <th>{{ 'Réference' }}</th>
                        <th>{{ 'Nom de la formation' }}</th>
                        <th>{{ 'Thematique associée' }}</th>
                        <th>actions</th>
                    </tr>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for former in formers %}
                        <tr>
                            <td>{{ former.id }}</td>
                            <td>{{ former.name }}</td>
                            <td>{{ former.training.name }}</td>
                            <td>
                                <a class="btn btn-label btn-danger-outline"
                                   href="{{ path('former_edit', {'id': former.id}) }}">
                                    <label for=""><i class="ti-close"></i></label> {{ 'Modifier' }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="align-content-center" colspan="4">{{ 'Aucun resultat trouvé' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}