{% extends 'base.html.twig' %}
{% block title %}{{ 'L\'initiative du forum' }}{% endblock %}
{% block body %}
    <!-- Page Title
    ============================================= -->
    <section id="page-title" class="page-title-mini">
        <div class="container clearfix">
            <h1>{{ 'L\'initiative'|upper }}</h1>
            <span>{{ 'une initiative privée pour le financement des PME' }}</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('homepage') }}">{{ 'Accueil' }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'Initiative' }}</li>
            </ol>
        </div>
    </section><!-- #page-title end -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col_full">
                    <div class="heading-block center nobottomborder">
                        <h2>{{ 'une initiative privée pour le financement des PME' }}</h2>
                        <span>Nous offrons des solutions concrètes au financement de l’économie ivoirienne</span>
                    </div>
                    <div class="fslider" data-pagi="false" data-animation="fade">
                        <div class="flexslider">
                            <div class="slider-wrap">
                                <div class="slide"><a href="#"><img src="{{ asset('build/front/static/10.jpg')}}" alt="About Image"></a></div>
                                <div class="slide"><a href="#"><img src="{{ asset('build/front/static/17.jpg')}}" alt="About Image"></a></div>
                                <div class="slide"><a href="#"><img src="{{ asset('build/front/static/home_bg.jpg')}}" alt="About Image"></a></div>
                                <div class="slide"><a href="#"><img src="{{ asset('build/front/static/19.jpg')}}" alt="About Image"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="heading-block center nobottomborder mt-20">
                        <h3>{{ 'ils ont pris des engagements'|upper }}</h3>
                    </div>
                    <div class="heading-block fancy-title title-dotted-border title-center">
                        <h3>{{ '3 avantages clés'|upper }}</h3>
                    </div>
                    <div class="heading-block fancy-title title-dotted-border title-center">
                        <h3>{{ 'Notre ADN'|upper }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


