{% extends 'base.html.twig' %}
{% block title %}{{ 'Portail du financement' }}{% endblock %}
{% block base_nav %} {{ include('front/includes/nav.html.twig',{'nav_class':'c-layout-header-4 c-layout-header-default-mobile'}) }} {% endblock %}
{% block body %}
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
    <div class="card">
        <div class="c-content-divider c-divider-sm c-icon-bg">
            <i class="icon-globe c-rounded c-theme-bg c-font-white"></i>
        </div>
        <h3 class="c-center c-bg-green-1 c-font-uppercase c-font-bold c-font-35 c-font-white c-font-slim c-padding-20">
            {{ 'Actualités'|upper }}
        </h3>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->

    <!-- BEGIN: CONTENT/ACTUALITE -->
    <div class="c-content-box c-size-md c-bg-img-center">
        <div class="container">
            <div class="c-content-title-1 wow animated fadeIn">
                <h3 class="c-center c-font-uppercase c-font-bold">{{ 'actualités'|upper }}</h3>
                <div class="c-line-center c-theme-bg"></div>
                <div class="row">
                    <div class="c-content-blog-post-card-1-grid">
                        <div class="row">
                            {% for post in posts %}
                                <div class="{{ (loop.index == 1) ? 'col-md-8' : 'col-md-4'}}">
                                    {% set filter = ((loop.index == 1) ? 'thumb_blog_730x430' : 'thumb_blog_500x280') %}
                                    <div class="c-content-blog-post-card-1 c-option-2 c-bordered box-shadow c-shadow">
                                        <div class="c-media c-content-overlay">
                                            <div class="c-overlay-wrapper">
                                                <div class="c-overlay-content">
                                                    <a href="{{ path('new_detail', {'slug': post.slug  }) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                            <img class="c-overlay-object img-responsive custom-center"  src="{{ post.assertPath|imagine_filter('thumb_blog_500x280') }}" alt="{{ post.title }}">
                                        </div>
                                        <div class="c-body {% if loop.index == 2 %} h-345 {% endif %}">
                                            <div class="c-title c-font-bold c-font-uppercase">
                                                <a href="{{ path('new_detail', {'slug': post.slug}) }}">{{ post.title|upper }}</a>
                                            </div>
                                            <div class="c-author">
                                                Publié le: <span class="c-font-uppercase c-font-bold">{{ post.created|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y") }}</span>
                                            </div>
                                            <p>{{ post.content|striptags('<a>')|truncate(110, true, '...')|raw }}</p>
                                            <div class="c-content-divider">
                                                <i class="icon-dot"></i>
                                            </div>
                                            <div class="c-center">
                                                <a href="{{ path('new_detail', {'slug': post.id  }) }}" class="btn btn-sm c-btn-green-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">{{  'Lire l\'article' }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/ACTUALITE -->
{% endblock %}

