<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="La Finance s'engage | CECGI | Espartners">
    <meta name="keywords" content="La finance s'engage | compte">
        <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/back/css/core.css','back') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('build/back/css/app.css','back') }}" type="text/css" />
        {% block stylesheets %}{% endblock %}
    <link rel="apple-touch-icon" href="">
    <link rel="icon" href="">
</head>
<body class="sidebar-folded">
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-dots">
            <span class="dot1"></span>
            <span class="dot2"></span>
            <span class="dot3"></span>
        </div>
    </div>
    <!-- Sidebar -->
    {{ include('admin/includes/sidebar.html.twig') }}
    <!-- END Sidebar -->

    <!-- Topbar -->
    {{ include('admin/includes/topbar.html.twig') }}
    <!-- END Topbar -->

    <!-- Main container -->
    <main>
            {% block body %}{% endblock %}
            <!-- Footer -->
            {{ include('admin/includes/footer.html.twig') }}
            <!-- END Footer -->
    </main>
    <!-- END Main container -->
    <script src="{{ asset('build/admin/js/core.min.js') }}"></script>
    <script src="{{ asset('build/admin/js/app.min.js') }}"></script>
    <script src="{{ asset('build/admin/js/script.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>