<!DOCTYPE html>
<!--[if IE 9]> <html lang="fr" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">
<!--<![endif]-->
<!-- Start HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ 'La finance s\'engage' }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="une initiative privée pour le financement des PME" name="description"/>
    <meta content="CGECI | ESPARTNERS" name="author"/>
    <meta content="Conception| Raphael Blehoue" name="conception"/>
    <!-- START GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=all' rel='stylesheet' type='text/css'>
    <!-- START GLOBAL MANDATORY STYLES -->
    <link href="{{ asset('build/web/css/global.css','web') }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- START: BASE PLUGINS  -->
    <link href="{{ asset('build/layout/assets/plugins/revo-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/revo-slider/css/layers.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/revo-slider/css/navigation.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/cubeportfolio/css/cubeportfolio.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/owl-carousel/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/fancybox/jquery.fancybox.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/plugins/slider-for-bootstrap/css/slider.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS  -->
    <!-- START THEME STYLES -->
    <link href="{{ asset('build/layout/assets/demos/default/css/plugins.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/demos/default/css/components.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('build/layout/assets/demos/default/css/themes/default.css') }}"
          rel="stylesheet" type="text/css"
    />
    <link href="{{ asset('build/web/css/custom.css','web') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    {% block stylesheets %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body class="c-layout-header-fixed c-layout-header-mobile-fixed {% block class_header %}{% endblock %}">
{% block base_nav %}{% endblock %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    {% block slide %}{% endblock %}
    {% block body %}{% endblock %}
</div>
<!-- END: PAGE CONTAINER -->
{{ include('front/includes/footer.html.twig') }}
<!-- BEGIN: LAYOUT/FOOTERS/GO2TOP -->
<div class="c-layout-go2top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END: LAYOUT/FOOTERS/GO2TOP -->
<!-- BEGIN: CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{{ asset('build/layout/assets/layout/plugins/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('build/web/js/apps.js', 'web') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/reveal-animate/wow.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/demos/default/js/scripts/reveal-animate/reveal-animate.js') }}" type="text/javascript"></script>
<!-- END: CORE PLUGINS -->
<!-- BEGIN: LAYOUT PLUGINS -->
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/fancybox/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/smooth-scroll/jquery.smooth-scroll.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/typed/typed.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/plugins/js-cookie/js.cookie.js') }}" type="text/javascript"></script>
<!-- END: LAYOUT PLUGINS -->
<!-- BEGIN: THEME SCRIPTS -->
<script src="{{ asset('build/layout/assets/base/js/components.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/base/js/components-shop.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/layout/assets/base/js/app.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        App.init(); // init core
        $("#slide-video").prop('muted', true);
    });
</script>
{% block javascripts %}{% endblock %}
</body>
</html>