{% extends 'admin/forum/forum_layout.html.twig' %}

{% block title %} {{ 'Intervenant' }} {% endblock %}
{% block forum_title %} {{ '| Intervenants'|upper }}{% endblock %}

{% block forum_content %}
    <div class="col-12">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title">{{ 'Liste des intervenants'|upper }}</h4>
                <a class="btn btn-label btn-info" href="{{ path('intervenant_new') }}">
                    <label><i class="ti-plus"></i></label>
                    {{ 'Ajouter un nouveau'}}
                </a>
            </header>
        </div>
    </div>
    {% for intervenant in intervenants %}
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="text-white card-body bg-info text-center py-50">
                    <a href="#">
                        <img class="avatar avatar-xxl avatar-bordered" src="{{ asset(intervenant.assertPath|imagine_filter('thumb_back_small_128')) }}">
                    </a>
                    <h5 class="mt-2 mb-0"><a class="text-white" href="#">{{ intervenant.name }}</a></h5>
                    <span>{{ intervenant.office }}</span>
                </div>
                <ul class="flexbox flex-justified text-center p-20">
                    <li class="br-1 border-light">
                        <span class="text-muted">Modifier</span><br>
                        <a href="{{ path('intervenant_edit', {'id': intervenant.id}) }}" class="btn btn-float btn-primary"><i class="ti-pencil"></i></a>
                    </li>
                    <li class="br-1 border-light">
                        <span class="text-muted">Afficher</span><br>
                        <a href="{{ path('intervenant_show', {'id': intervenant.id}) }}" class="btn btn-float btn-outline-info"><i class="ti-eye"></i></a>
                    </li>
                    <li>
                        <span class="text-muted">Supprimer</span><br>
                        <a href="{{ path('intervenant_delete', {'id': intervenant.id}) }}" class="btn btn-float btn-danger"><i class="ti-trash"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="center">
            <h2>Aucune information trouvée</h2>
        </div>
    {% endfor %}
{% endblock %}