{% extends 'admin/forum/forum_layout.html.twig' %}

        {% block title %} {{ 'Intervenant' }} {% endblock %}
        {% block forum_title %} {{ '| Intervenants'|upper }}{% endblock %}

        {% block forum_content %}
            <div class="col-6">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title">{{ 'Informations Intervenant'|upper }}</h4>
                        {{ include('admin/forum/intervenant/_delete_form.html.twig') }}
                    </header>
                    <img class="card-img-top" src="{{ asset(intervenant.assertPath|imagine_filter('thumb_intervenant')) }}" alt="Card image cap">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>{{ 'Nom' }}</th>
                                <td>{{ intervenant.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Poste' }}</th>
                                <td>{{ intervenant.office }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'Position Affichage' }}</th>
                                <td>{{ intervenant.position }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-label btn-dark" href="{{ path('intervenant_index') }}">
                            <label><i class="ti-arrow-left"></i></label>
                            {{ 'Retour à la liste'}}
                        </a>
                        <a class="btn btn-label btn-danger" href="{{ path('intervenant_edit', {'id': intervenant.id}) }}">
                            <label><i class="ti-pencil-alt"></i></label>
                            {{ 'Modifier' }}
                        </a>
                    </div>
                </div>
            </div>
        {% endblock %}
