{% extends 'fse/fse_layout.html.twig' %}
{% block title %} {{ 'Articles' }} {% endblock %}
{% block fse_title %} {{ '| Articles'|upper }}{% endblock %}
{% block fse_content %}
        <div class="col-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">{{ 'Creér un nouveau articles'|upper }}</h4>
                    <a class="btn btn-square btn-outline-danger" href="{{ path('post_index') }}">
                        <label><i class="ti-na"></i></label>
                    </a>
                </header>
                <div class="card-body center-vh">
                    {{ include('post/_form.html.twig') }}
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.3/classic/ckeditor.js"></script>
    <script src="{{ asset('build/admin/js/ckedit.js') }}"></script>
{% endblock %}
