{% extends 'admin/forum/forum_layout.html.twig' %}

{% block forum_title %} {{ 'Section FSE'|upper }} {% endblock %}

{% block forum_content %}
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('forum') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'initiative'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('organizer_index') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'organisateurs'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('classification_index') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'Classification sponsors'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('partner_index') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'Sponsors'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('intervenant_index') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'intervenants'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-3">
        <div class="card shadow-1">
            <div class="card-body">
                <div class="text-center my-2">
                    <div class="fs-15 fw-400 text-instagram">
                        <a href="{{ path('rapport_index') }}" class="text-default">
                            <span class="icon ti-briefcase"></span><br/>
                            <span class="title">{{ 'donnée de la croissance'|upper }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="progress mb-0">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 95%; height: 6px;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
{% endblock %}